<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-XXXXX+y+XXXXX/XXXX=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body style="background-color: #c1be7f">
    <header>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/home">booking</a>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/movies/history">booking history</a>
              </li>
            </ul>
            <a
              name=""
              id=""
              class="btn btn-primary btn-sm"
              href="/logout"
              role="button"
              >logout</a
            >
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container col-4 shadow mt-3 p-3">
        <form action="/movies/bookShow/<%=show.id%>" method="post">
          <div class="form-floating mb-3">
            <div class="card">
              <img
                class="card-img-top"
                src="<%=show.movie.poster%>"
                alt="Title"
                height="250px"
                width="100px"
              />
              <div class="card-body">
                <h6 class="card-title text-danger bold">
                  <%=show.movie.title%>|duration:<%=show.movie.duration%>|date:<%=new Date(show.date).toLocaleDateString() %>
                </h6>
                <p class="card-text">time:<%=show.time%>&nbsp;&nbsp;<span id="price" data-price="<%=show.price %>">price:<%=show.price %></span> |<span id="Avalseats" data-avail="<%=show.availableSeats%>">availableSeats:<%=show.availableSeats%></span> </p>
                <p>
              <div class="form-floating mb-3">
                <input
                    type="number"
                    class="form-control"
                    name="Seats"
                    id="person"
                    placeholder=""
                />
                <label for="person">No of person</label>
              </div>
              <div class="form-floating mb-3">
                <input
                    type="number"
                    class="form-control"
                    name="price"
                    id="tprice"
                    placeholder="" readonly
                />
                <label for="tprice">totalAmount</label>
              </div>
              
             <button type="submit" class="btn btn-danger ">book</button>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
      <script>
       const price=Number( document.getElementById("price").dataset.price)
       const availseats=Number( document.getElementById("Avalseats").dataset.avail)
       const person=document.getElementById("person")
       
       const tprice=document.getElementById("tprice")
       person.addEventListener("input",function(){
        let p=Number(this.value)
            let total=price*p
       if (p>availseats) {
        alert("no seats available")
        return tprice.value=""
       }
            tprice.value=total

       })
       


      </script>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
